label#thumbmail {
  margin-bottom: 20px;
  border: 1px dashed #ddd;
  background-size: cover;
  cursor: pointer;
  display: flex;
  height: 160px;
  justify-content: center;
  align-items: center;
}

label#thumbmail input {
  display: none;
}

label#thumbmail.has-thumbmail {
  border: 0;
}

label#thumbmail.has-thumbmail img {
  display: none;
}
